<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">>
    <head>
        <meta charset="UTF-8">
        <title>Album</title>
    </head>

    <body>
        <div layout:fragment="content">
                <table style="width:50%">
                    <thead>
                        <tr>
                        	<th style="color: black">ID</th>
                            <th style="color: black">First Name</th>
                            <th style="color: black">Last Name</th>
                            <th style="color: black">Username</th>
                            <th style="color: black">Password</th>
                        <th>
                    </thead>
                    <tbody>
                        
                        <tr>
                        	
                            <th style="color: black"><h5 th:text="${user.id}">01</h5></td>
                            <th style="color: black"><h5 th:text="${user.firstName}">000000001</h5></td>
                            <th style="color: black"><h5 th:text="${user.lastName}">Product 1</h5></td>
                            <th style="color: black"><h5 th:text="${user.username}">"1.00</h5></td>
                            <th style="color: black"><h5 th:text="${user.password}">1</h5></td>
										
							<td>                            	                    
	                            <td>	                            	
	                            	<form th:object="${user}" method= "post" th:action="@{/users/processDelete}">
	                            	<input hidden th:field="*{id}"></input>
	                            	<input type="submit" style="color: black">Delete User</input>
	                            	</form> 
	                            </td>
							</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>

</html>
<style>
thead{
	color: black;
	box-shadow: 0 8px 16px black
	
}
tr{
	color: white;
	font-family: serif;
}
h2{
	color: white;
	font-family: serif;
}
