<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title> t</title>
</head>

<body>

	<div layout:fragment="content" /div>
		<br>
	
		<br>
			<img th:src="@{/images/MilestoneLogo.png}"><br/><br/>

		<font size = "4" color="black"> Welcome User! </font>
	
</body>
</html>
<style>
font{
	font-family: serif;
	font-size: 30px;
}
div{
	font-family:serif;
	color: white;
}